body {
  background-color: rgb(24, 50, 89);
}
h2 {
  font-size: 28px;
  text-align: center;
}
p {
  font-size: 14px;
  text-align: center;
}
h1.textbackground {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
p.textfront {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.eniacimage {
  width: 200px;
  height: 200px;
}
