body {
  background-color: rgb(24, 50, 89);
}
h2 {
  font-size: 28px;
  text-align: center;
}
p {
  font-size: 14px;
  text-align: center;
}
.titlecontent {
  position: relative;
}
p.textbackground {
  font-size: 80px;
  top: 0;
  left: 0;
  z-index: 1;
  color: rgb(255, 255, 255);
  text-align: center;
}
p.textfront {
  top: 0;
  font-size: 20px;
  left: 0;
  z-index: 2;
  color: rgb(255, 255, 255);
  text-align: center;
}
.eniacimage {
  width: 200px;
  height: 200px;
}
