body {
  background-color: rgb(7, 25, 51);
  color: rgb(255, 255, 255);
}
h2 {
  font-size: 56px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
p {
  font-size: 20px;
}

h1.textbackground {
  font-size: 200px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
}
p.textfront {
  margin-right: 35%;
  margin-left: 35%;
  font-size: 25px;
  text-align: center;
}
p.textfrontautor {
  margin-right: 40%;
  margin-left: 40%;
  font-size: 16px;
  text-align: center;
}

.puntoinicio {
 margin-top: 150px;
}
.puntoprimero {
  text-align: left;
  margin-left: 10%;
  margin-right: 40%;
}
.puntosegundo {
  text-align: left;
}
.puntotercero {
  text-align: left;
}
.puntocuarto {
  text-align: left;
}
.puntoquinto {
  text-align: left;
}

.eniacimage {
  width: 200px;
  height: 200px;
}
