body {
  background-color: rgb(7, 25, 51);
  color: rgb(255, 255, 255);
}
h2 {
  margin-top: 80px;
  font-size: 56px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
}
p {
  font-size: 20px;
}

h1.textbackground {
  font-size: 200px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
}
p.textfront {
  margin-right: 35%;
  margin-left: 35%;
  font-size: 25px;
  text-align: center;
}
p.textfrontautor {
  margin-right: 40%;
  margin-left: 40%;
  font-size: 16px;
  text-align: center;
}

h2.puntoinicio {
  margin-top: 400px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30px;
}
p.puntoinicio {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
}
p.puntoprimero {
  text-align: left;
  flex: 1;
}
p.puntoprimerotwo {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}
p.puntosegundo {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}
p.puntotercero {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}
p.puntocuarto {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}
p.puntoquinto {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}

.eniac-container {
 display: flex;
  gap: 2rem;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
}
.eniacimage {
  width: 600px;
  height: auto;
}
