h2 {
  font-size: 28px;
  text-align: center;
}
p {
  font-size: 14px;
  text-align: center;
}
.titlecontent {
  position: relative;
}
.textbackground p {
  position: absolute;
  font-size: 80px;
  top: 0;
  left: 0;
  z-index: 1;
  color: gray;
}
.textfront p {
  position: absolute;
  top: 0;
  font-size: 15px;
  left: 0;
  z-index: 2;
  color: red;
}
.eniacimage {
  width: 1400px;
  height: 1400px;
}
