body {
  background-color: rgb(7, 25, 51);
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}
h2 {
  margin-top: 80px;
  font-size: 56px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
}
p {
  font-size: 20px;
}

h1.textbackground {
  font-size: 200px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
}
p.textfront {
  margin-right: 35%;
  margin-left: 35%;
  font-size: 25px;
  text-align: center;
}
p.textfrontautor {
  margin-right: 40%;
  margin-left: 40%;
  font-size: 16px;
  text-align: center;
}
.butondown, .butondown2 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
.butondown:hover, .butondown2 {
    background-color: rgba(255, 255, 255, 0.1);
}

h2.puntoinicio {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 400px;
}
p.puntoprimero {
  text-align: left;
  flex: 1;
}
p.puntosegundo {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
h2.puntosegundo {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
p.puntotercero {
  text-align: left;
}
p.puntocuarto {
  text-align: left;
}
p.puntoquinto {
  text-align: left;
}

#barra-contenedor {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #ddd;
    z-index: 9999;
}

#barra-progreso {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
}

.eniac-container {
  display: flex;
  gap: 3rem;
  margin-left: 25%;
  margin-right: 25%;
  align-items: top;
}
.imagesfrist {
  display: flex;
  gap: 3rem;
  margin-left: 25%;
  margin-right: 25%;
  align-items: top;
}
.eniacimage {
  width: 550px;
  height: auto;
}
.windowsimage {
  width: 550px;
  height: auto;
}
.transistorimage {
  width: 550px;
  height: auto;
}
.transistorcenter {
  text-align: center;
}
.appleimage:hover,
.ibmimage:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease;
}
